<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Early Interventions and Solutions for Challenging Children</title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="{{ url_for('home') }}"><h2>Home</h2></a></li>
      <li><a href="{{ url_for('about') }}"><h2>About Me</h2></a></li>
      <li><a href="{{ url_for('contact') }}"><h2>Contact</h2></a></li>
    </ul>
  </div>

  <div class="container">
    <h1 id="title">Contact</h1>

  
    <div class="section-container">
      <div class="section-contact"><h2>Contact:</h2>
        <h2>Claudia Guarente</h2>
        <h2>Need another email address for Startup Solutions tbc</h2>
        <h2>Telephone number: <a href="tel:+447983 609 572">07983 609 572</a></h2>
        <h2>Registered address: tbc</h2>
      </div>
      
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
