<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Early Interventions and Solutions for Challenging Children</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">
                    <h2>Home</h2>
                </a></li>
            <li><a href="{{ url_for('about') }}">
                    <h2>About Me</h2>
                </a></li>
            <li><a href="{{ url_for('contact') }}">
                    <h2>Contact</h2>
                </a></li>
        </ul>
    </div>

    <div class="container">
        <h1 id="title">Early Interventions and Solutions for Challenging Children</h1>

        <span>Trading as: Startup Interventions Ltd</span>

        <div class="section-container">
            <div class="section">
                <h2 class="toggle-section">How we help</h2>
            </div>
            <div class="section-content">
                <div class="image">
                    <img src="../static/images/cartoon-heart-hng.png" alt="Hands">
                </div>

                <h3>With children who display challenging behaviour in class or on the playground:</h3>

                <ul>
                    <li>Through early intervention programmes, delivered by an experienced practitioner, young people
                        can start to explore a better way of communicating their needs.</li>
                </ul>

                <h3>With the requirement for children to achieve consistent and progressive grades:</h3>

                <ul>
                    <li>It is often difficult to address the behaviours that may be displayed by individuals or groups
                        of children with difficulty communicating, which prevents others' learning. Whilst teachers may
                        really want to help, it may be impossible to achieve desired changes within the restraints of
                        teaching time and the curriculum.</li>
                </ul>

                <h3>With an upcoming Ofsted Inspection:</h3>

                <ul>
                    <li>You may not have the time or resources to resolve these problems quickly. We can help identified
                        students to start to learn soft skills, self-regulate, and learn strategies to modify or enhance
                        communication. This will enable the remaining students to move further along their learning
                        journey without possible peer distraction or interruption.</li>
                </ul>

                <p><strong>WE CAN HELP.</strong> Consequently, we can write, plan, and lead these sessions in a course
                    for specific students with a view to improving ways of thinking and doing.</p>
            </div>
        </div>

        <div class="section-container">
            <div class="section">
                <h2 class="toggle-section">Supporting Children's Mental Health</h2>
            </div>
            <div class="section-content">
                <div class="image">
                    <img src="../static/images/image_five.jpg" alt="Empty Man">
                </div>

                <ul>
                    <li>The introduction at an early age to strategies that address some of the struggles young people
                        and their families face can minimize difficulties and help build a repertoire of preferred
                        communication avenues.</li>
                    <li>It has been observed by parents/carers, school professionals, and learning platforms that the
                        affects of COVID have had a huge impact, impacting further in young people and learning
                        outcomes. It has been seen to affect mental health especially and young people are unable to
                        effectively communicate their needs and uptake learning. It has also been reported in the media
                        that young people's attitudes towards themselves and others are becoming more desensitized and
                        disconnected to their feelings than ever before.</li>
                </ul>
                <div id="quote-section">
                    <blockquote>
                        <p>"In children aged 7 to 16 years, rates rose from 1 in 9 (12.1%) in 2017 to 1 in 6 (16.7%) in
                            2020.</p>
                        <p>One in six children aged five to 16 were identified as having a probable mental health
                            problem in July 2021, a huge increase from one in nine in 2017. That's five children in
                            every classroom (i). Reference: youngminds</p>
                        <p>Now, five children in a classroom of 30 are likely to have a mental health problem.</p>
                        <p>50% of all mental health problems start by the age of 14⁴</p>
                        <p>There needs to be more funding for early support services across the country - where young
                            people can build resilience, work through their feelings, learn to cope with the stresses of
                            growing up. No waiting lists. Reference: Children's Society</p>
                        <p>As the number of young people needing mental (health) support shoots up, many are forced to
                            find their own way of coping. Specialist services are overstretched and young people are
                            often refused treatment or made to join a long waiting list." Reference: Children's Society
                        </p>
                    </blockquote>
                </div>

            </div>
        </div>

        <div class="section-container">
            <div class="section">
                <h2 class="toggle-section">Who, When and Where?</h2>
            </div>
            <div class="section-content">
                <div>
                    <h3>Who would be able to Help?</h3>
                    <ul>
                        <p>Identified personnel from:</p>
                        <li>Educational Psychology Team</li>
                        <li>CAMHS Team ecosystem of stakeholders</li>
                        <li>Northumberland Sensory Team</li>
                        <li>Head teachers</li>
                        <li>Teachers</li>
                        <li>Governing Bodies</li>
                        <li>Northumberland County Council</li>
                        <li>Students</li>
                        <li>Support Staff</li>
                        <li>SENDCo</li>
                        <li>Pastoral Staff</li>
                    </ul>
                </div>
                <br>
                <div>
                    <h3>When can we Help?</h3>
                    <p>When groups have been identified and program written, we can start to implement the sessions.</p>
                </div>
                <br>
                <div>
                    <h3>Where will it be delivered?</h3>
                    <p>In the Northumberland area initially.<br>At your school at a time that fits into your curriculum.
                    </p>
                </div>
                <br>
                <div>
                    <h3>Delivery Practitioner</h3>

                    <p>With over 25 years' experience in dealing with children who experience difficulties in the
                        classroom,
                        I have worked as a Teaching Assistant, Learning Mentor, Lead Professional for Student Inclusion
                        and
                        Safeguarding Officer. I have studied or worked with professionals from many areas of children's
                        services, which include:</p>

                    <ul>
                        <li>Child Bereavement training from the Child Bereavement Trust, Bucks</li>
                        <li>Behaviour Management</li>
                        <li>Anger Management – trained by Primary PRU</li>
                        <li>Training From CAMHS and Educational Psychologist in Child Mental Health</li>
                        <li>Active Listening, Small Group work</li>
                        <li>Nurture Group Trained by Educational Psychologist and CAMHS team</li>
                        <br>
                        <h3>Feel free to view the <a href="{{url_for('about')}}">About Me page by clicking here</a> for
                            more
                            information and certification.</h3>
                    </ul>
                </div>
            </div>
        </div>




        <div class="section-container">
            <div class="section">
                <h2 class="toggle-section">Safeguarding</h2>
            </div>
            <div class="section-content">
                <h3>Safeguarding Expertise</h3>
                <div class="image">
                    <img src="../static/images/feet_hands.jpg" alt="FeetInHands">
                </div>

                <p>Safeguarding is everybody’s responsibility, and as a Safeguarding Officer in a secondary school
                    I have had 4 years of ongoing, in situ training and collaboration with Child Services (Social
                    Care), with supervision for my case load. As part of my remit in working with schools, it may be
                    possible that we will encounter a disclosure. I will follow the Safeguarding Policy as set out
                    by
                    your school and establish who the Safeguarding Officer is, who will follow up as necessary.</p>
                <br>
                    <h3>The End?</h3>
                <div class="image">
                    <img src="../static/images/girlsgarden.jpg" alt="WalkingAwayGirls">
                </div>

                <p>No. We will have an “end session” with the students to prepare them for the finishing session
                    and have a celebration which they will showcase to the rest of the class or school during an
                    extended assembly (with voluntary help from the class(es) involved.
                    We will return to see how the learning journey has embedded and how things are progressing.</p>

            </div>
        </div>

        <div class="section-container">
            <div class="section">
                <h2 class="toggle-section">Next Steps</h2>
            </div>
            <div class="section-content">
                <div class="image">
                    <img src="../static/images/puzzle.jpg" alt="PuzzlePiece">
                </div>

                <h3>What we would like from you:</h3>
                <p>At this stage, in order to develop and support our service, we will not charge a fee, although we
                    would ask for feedback from you with permission to use these testimonials for marketing,
                    modification and improvement. We would be delighted to provide further customised sessions
                    or one off workshops for your students that you may have identified as disadvantaged or in
                    need. Please ask us for a quote for your tailor made Workshops.</p>
                <br>
                <a href="{{ url_for('contact') }}">
                    <h2>Click here for our Contact Page to tell us your needs.</h2>
                </a>
                <br>

                <h3>How we have Helped:</h3>
                <span>Some students confirmed how they have felt after some intervention work with different
                    groups:</span>
                <blockquote>Martin - Yr7 (not his real name) said he felt better when he had finished his Nurture Group
                    sessions and was more relaxed and he said “I really liked the relaxing thing (guided
                    visualisation) – it was very relaxing”.</blockquote>
                <blockquote>Terry – Yr 1 (not his real name) said he enjoyed talking when he made his clay model animals
                    and felt better about being in the classroom after that.. He said: “I feel calm when I play with
                    the clay and making my animals”.</blockquote>
                <blockquote>Ashley – Yr 3 (not her real name) said she liked the group work she did. She said “I didn’t
                    feel
                    like I had to watch everyone and everything, I was happy to play with the others”.</blockquote>
                <blockquote>Shaun – Yr 5 (not his real name) liked coming to a quiet place and I noticed that his
                    shoulder
                    shrugging started to reduce whilst in the group. He said “yes, I liked being in the group because
                    everyone take (took) turns to be the speaker and I know how to stop shouting so much”.</blockquote>
            </div>


        </div>
    </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>